body,
html {
    height: 100%
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bradley Hand", cursive
}

.menu {
    display: none
}

.bgimg {
    background-repeat: no-repeat;
    background-image: url("./SpiceFactory/images/newlogo.jpg");
    height: 800px;
    width: 2500px;
}